@media screen and (min-width: 360px) {
  /* ----------TAGS---------- */
  footer {
    padding: 1vh 0;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 0.95rem;
  }

  h4 {
    font-size: 0.75rem;
  }

  hr {
    width: 110px;
  }

  li {
    font-size: 0.85rem;
  }

  nav {
    height: 55px;
  }

  p {
    font-size: 0.85rem;
  }

  ul {
    column-count: 2;
    /* padding-inline-start: 20px; */
  }

  /* ----------CLASSES---------- */
  .coding-container {
    padding-right: 40px;
  }

  .coding-image {
    height: 40px;
  }

  .coding-left {
    clip: rect(0, 20px, 40px, 0);
  }

  .coding-right {
    clip: rect(0, 40px, 40px, 20px);
  }

  .footer-p {
    font-size: 0.65rem;
  }

  .image-container {
    height: 150px;
    padding: 2.5vh;
    width: 150px;
  }

  .image-photos-icon {
    top: 2.5vh;
    left: 2.5vh;
    height: 18px;
    width: 18px;
  }

  .image-profile {
    height: 135px;
    padding: 1vh;
    width: 135px;
  }

  .name-detail {
    font-size: 1.4rem;
    top: 6px;
  }

  .nav-a {
    font-size: 0.75rem;
  }

  .nav-item-position {
    padding-top: 25px;
  }

  .section-content-page {
    height: 16px;
  }

  .section-content-page-dot {
    border-radius: 4px;
    width: 8px;
    height: 8px;
  }

  .url-icon-img {
    height: 21px;
    width: 21px;
  }
}

@media screen and (min-width: 400px) {
  /* ----------TAGS---------- */
  footer {
    padding: 0.8vh 0;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.05rem;
  }

  h4 {
    font-size: 0.85rem;
  }

  hr {
    width: 120px;
  }

  li {
    font-size: 0.95rem;
  }

  nav {
    height: 65px;
  }

  p {
    font-size: 0.95rem;
  }

  ul {
    column-count: 2;
    padding-inline-start: 30px;
  }

  /* ----------CLASSES---------- */
  .coding-container {
    padding-right: 46px;
  }

  .coding-image {
    height: 46px;
  }

  .coding-left {
    clip: rect(0, 23px, 46px, 0);
  }

  .coding-right {
    clip: rect(0, 46px, 46px, 23px);
  }

  .footer-p {
    font-size: 0.7rem;
  }

  .image-container {
    height: 175px;
    padding: 3vh;
    width: 175px;
  }

  .image-photos-icon {
    top: 3vh;
    left: 3vh;
    height: 21px;
    width: 21px;
  }

  .image-profile {
    height: 150px;
    padding: 1.5vh;
    width: 150px;
  }

  .name-detail {
    font-size: 1.5rem;
    top: 8px;
  }

  .nav-a {
    font-size: 0.85rem;
  }

  .nav-item-position {
    padding-top: 30px;
  }

  .section-content-page {
    height: 20px;
  }

  .section-content-page-dot {
    border-radius: 5px;
    width: 10px;
    height: 10px;
  }

  .url-icon-img {
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 800px) and (min-height: 1000px) {

}

@media screen and (min-width: 1000px) {
  /* ----------TAGS---------- */
  footer {
    padding: 2vh 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.35rem;
    padding-top: 10vh;
  }

  h3 {
    font-size: 1.15rem;
    padding-top: 2vh;
  }

  h4 {
    font-size: 0.95rem;
  }

  hr {
    border-bottom-width: 4px;
    width: 130px;
  }

  li {
    font-size: 1.05rem;
  }

  p {
    font-size: 1.05rem;
  }

  ul {
    column-count: 3;
    height: 80px;
    padding-inline-start: 40px;
  }

  /* ----------CLASSES---------- */
  .coding-container {
    padding-right: 60px;
  }

  .coding-image {
    height: 60px;
  }

  .coding-left {
    clip: rect(0, 30px, 60px, 0);
  }

  .coding-right {
    clip: rect(0, 60px, 60px, 30px);
  }

  .footer-p {
    font-size: 0.8rem;
  }

  .image-container {
    height: 200px;
    padding: 4vh;
    width: 200px;
  }

  .image-graduate {
    height: 120px;
    padding-top: 12vh;
    width: 120px;
  }

  .image-photos-icon {
    top: 4vh;
    left: 4vh;
    height: 25px;
    width: 25px;
  }

  .image-profile {
    height: 175px;
    padding: 1.5vh;
    width: 175px;
  }

  .name {
    font-size: 3.25rem;
  }

  .name-detail {
    font-size: 2rem;
    top: 10px;
  }

  .nav-a {
    font-size: 0.9rem;
  }

  .section-about-me {
    left: 18%;
    width: 64%;
  }

  .section-content {
    height: 70%;
    padding-top: 28vh;
  }

  .section-content-page {
    height: 24px;
  }

  .section-content-page-dot {
    border-radius: 6px;
    width: 12px;
    height: 12px;
  }

  .section-bg {
    height: 6vh;
  }

  .section-h1 {
    font-size: 1.55rem;
  }

  .section-p {
    font-size: 1rem;
  }

  .section-page {
    height: 7vh;
  }

  .section-projects {
    left: 18%;
    width: 64%;
  }

  .section-snap-container {
    height: 93%;
  }

  .section-skills {
    left: 30%;
    width: 40%;
  }

  .url-icon-img {
    height: 30px;
    width: 30px;
  }
}
