/*cubic-bezier(0.5, -0.5, 1, 1)*/
/* ------------------------------TAGS------------------------------ */
a, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

a {
 color: #8566aa;
}

body {
  color: #4d4c7d;
  background-color: #f4f4f4;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

footer {
  font-size: 1rem;
  padding-top: 5vh;
  text-align: center;
}

header {
  left: 30%;
  padding-top: 35vh;
  padding-bottom: 45vh;
  position: relative;
  width: 40%;
}

main {
  text-align: center;
}

nav {
  background-color: #8ec6c5;
  display: inline-block;
  padding: 3vh 0;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* ----------------------------CLASSES---------------------------- */
.about-me {
  left: 30%;
  padding: 5vh 0;
  position: relative;
  width: 40%;
}

.about-me-h1 {
  font-size: 2rem;
  padding: 3vh;
}

.about-me-p {
  text-align: justify;
}

.bracket-image {
  filter: contrast(70%) grayscale(20%) opacity(70%) saturate(60%);
  height: 80px;
  position: absolute;
}

.bracket-left {
  clip: rect(0, 30px, 80px, 0);
  left: 1%;
}

.bracket-right {
  clip: rect(0, 80px, 80px, 40px);
  left: 85%;
}

.name {
  font-size: 4rem;
  padding-bottom: 3vh;
}

.name-detail {
  font-size: 2.5rem;
  height: 60px;
  left: 20%;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 60%;
}

.nav-icons {
  height: 30px;
  width: 30px;
}

.nav-padding {
  padding: 0 10px;
}

.nav-text-position {
  bottom: 9px;
  display: inline-block;
  position: relative;
}

.profile-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 5vh;
}
