body {
  background-color: #f4f4f4;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.man-image {
  background-color: #f4f4f4;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  margin: 5%;
}

.main-panel {
  display: block;
  left: 22%;
  height: 100%;
  width: 75%;
  position: sticky;
}

.profile-frame {
}

.side-panel {
  background-color: #8ec6c5;
  display: block;
  height: 100%;
  width: 20%;
  position: fixed;
  text-align: center;
}
